<html>
<head>
    <title>Buy Fantastic Beasts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="beasts.css" type="text/css">
    <script src='http://code.angularjs.org/1.2.9/angular.min.js'></script>
  	<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src='app.js'></script>
</head>
<body ng-app='BuyBeasts' ng-controller='mainCtrl'>
    <header>
        <h1>Buy Fantastic Beasts</h1>
    </header>
    <div id='listFilterButtons'>
        <a class='btn' href='#/all'>All</a>
        <a class='btn' href='#/in-stock'>In Stock</a>
        <a class='btn' href='#/cart'>Cart</a>
        <select ng-model='sortBy' ng-init='sortBy = sorts[0].value'>
            <option ng-repeat='sort in sorts' value='{{sort.value}}'>{{sort.name}}</option>
        </select>
    </div>
    <ui-view></ui-view>
    
    <script type='text/ng-template' id='/all'>
        <div id="container">
            <div class='beastList beaster' ng-repeat='beast in beasts | orderBy: sortBy' >
                <img ng-src="{{beast.img}}" onclick="" />
                <p> Name: {{beast.name}} </p>
                <p> Quantity: {{beast.quantity}}</p>
                <p> Price: {{beast.price}} </p>
                <button class='btn' ng-click='beast.moveToCart()'>Add to cart</button>
            </div>
        </div>   
    </script>
    <script type='text/ng-template' id='/in-stock'>
        <div id="container">
            <div class='beastList beaster' ng-repeat='beast in beastsInStock() | orderBy: sortBy' >
                <img ng-src="{{beast.img}}" onclick="" />
                <p> Name: {{beast.name}} </p>
                <p> Quantity: {{beast.quantity}}</p>
                <p> Price: {{beast.price}} </p>
                <button class='btn' ng-click='beast.moveToCart()'>Add to cart</button>
            </div>
        </div>   
    </script>

    <script type='text/ng-template' id='/cart'>
        <div id="container">
            <div class='beastList beaster' ng-repeat='beast in beastsInCart() | orderBy: sortBy' >
                <img ng-src="{{beast.img}}" onclick="" />
                <p> Name: {{beast.name}} </p>
                <p> Quantity: {{beast.inCart}}</p>
                <p> Price: {{beast.price}} </p>
                <button class='btn' ng-click='beast.removeFromCart()'>Remove</button>
            </div>
        </div>   
    </script>

    <footer>
        Harry Potter, characters, names, and all related indicia are trademarks of Warner Bros. © 2001 – 2017.
    </footer>

</body>
</html>
